body {
	background-color: #faf9f3;
	margin: 10px;
	margin-bottom: 30px;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
    gap: 3px;
}

.flex-container table {
	background-color: #B0ACA4;
    padding-top: 5px;
    padding: 10px;
}

.form input {
	justify-content: flex-start;
}

.right {
	align-self: flex-end;
}

.text-center-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5px;
}

.contact-form {
	background-color: #B0ACA4;
	border: 7px solid #2b2b2b;
}

.scrollButtons {
	display: flex;
	gap: 6em;
}

table#existing-contact-table tbody tr.white {
    background-color: #ebe9e7;
}